/* style general */
@font-face {
  font-family: "Twister";
  src: url("font/Twister.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 60px 40px;
}
h1 {
  font-size: 3.3rem;
  font-family: "Rubik Dirt", cursive;
}

.section--dark {
  background-color: #1b1b32;
  color: white;
}
.section--ligth {
  color: #000;
  background-color: #fff;
}
.section__title {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", cursive;
}
.section__parrafo {
  font-size: 1.2rem;
}
.texto__negro {
  color: #000;
}
.texto__blanco {
  color: #fff;
}
.seccion__descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}
.btn-primary {
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold;
}

/* navegation  */

.navbar {
  padding: 1rem;
  background-color: #f5f6f7;
  position: sticky; /*portafolio de  Shabi fue mi favorito porque centraba su atención en los proyectos que ella quería mostrar, tenía un diseño minimalista muy fácil de navegar donde estaba la, información que  un reclutador necesita conocer, no coloco ningún tipo de distracción como animaciones lo que puede confundir a un posible reclutador, por otra parte, detallaba su experiencia laboral de proyectos realizados de forma detallada y el sitio no  desentono en su versión responsiva.*/
  top: 0;
  z-index: 999;
}
.navbar-brand {
  font-family: "Rubik Dirt", cursive;
  font-size: 30px;
}
.nav__img {
  width: 150px;
  height: 100px;
}
.collapse {
  align-items: center;
  justify-content: space-between;
}
/* section hero */
.hero__section {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  background-color: #f5f6f7;
  min-height: calc(100vh - 88px);
  text-align: center;
  padding: 15px;
}
.hero__container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.hero__contenido {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 60px;
}
.hero__container {
  padding: 3rem;
}
.hero__img {
  max-width: 60%;
  min-width: 270px;
  height: auto;
  border: thick solid #0d6efd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 20px;
}
.hero__parrafo {
  font-size: 1.5rem;
  color: #615151;
  text-align: justify;
}
.boton__hero {
  align-self: start;
}
.bi:hover {
  color: black;
}

/* about me */

.aboutMe__section {
  height: 500px;
  padding: 10px;
}
.aboutMe__container {
  max-width: 600px;
  text-align: center;
}

/* experiencia */
.experiencia__section {
  padding: 40px 40px 60px 40px;
}
.experiencia__section i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.experiencia__title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.badge {
  margin: 5px;
}
/* Proyectos */
.proyectos__section {
  padding: 20px;
}
.proyectos__section img {
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: block;
  transition: all 0.25 ease;
  -webkit-transition: all 0.25 ease;
  -moz-transition: all 0.25 ease;
  -ms-transition: all 0.25 ease;
  -o-transition: all 0.25 ease;
}
.proyecto__contenedor {
  padding: 60px 60px 15px 60px;
  text-align: center;
}
.proyecto {
  position: relative;
}
.overlay {
  transition: all 0.2 ease;
  -webkit-transition: all 0.2 ease;
  -moz-transition: all 0.2 ease;
  -ms-transition: all 0.2 ease;
  -o-transition: all 0.2 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.proyecto:hover .overlay {
  opacity: 0.8;
}
.proyecto:hover img {
  opacity: 0.5;
}
.overlay .iconos-contenedor {
  display: flex;
}

.contenedor__iconos {
  display: flex;
}
.overlay a {
  width: 50%;
}
.overlay i {
  color: #000;
  font-size: 25px;
}
/* articulos */
.articulos {
  min-height: 610px;
  padding: 30px;
}
.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}
.card-header {
  font-weight: bold;
}
.testimonios {
  padding: 40px 40px 80px 40px;
}
.carousel {
  max-width: 800px;
}
.carousel-item {
  height: 500px;
}
.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}
.testimonio-info {
  font-weight: bold;
  text-align: center;
}
.testimonio-info p {
  margin-bottom: 0;
}
.testimonio-info .cliente {
  font-size: 1.2rem;
}
.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}
/* contacto */
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}
.contacto .rectagulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #fff;
}
.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacto .descripcion {
  color: white;
  font-size: 1.2 rem;
}
.contacto button {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.contacto button:hover {
  background-color: #fff;
  color: #1b1b32;
}

.contacto button i {
  color: #fff;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
button:hover i {
  color: #000;
}
/* foote */
footer {
  min-height: 500px;
}
.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2 ease-in;
  -webkit-transition: all 0.2 ease-in;
  -moz-transition: all 0.2 ease-in;
  -ms-transition: all 0.2 ease-in;
  -o-transition: all 0.2 ease-in;
}
.iconos-redes-sociales i {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.iconos-redes-sociales .social__hero {
  background-color: #0d6efd;
}

.iconos-redes-sociales a:hover {
  background-color: #fff;
  border: 2px solid rgb(13, 110, 253);
}
.iconos-redes-sociales a:hover i {
  color: #000;
}
.derecho__autor {
  font-size: 15px;

  color: #aeaeae;
  padding: 20px;
}

/* responsive*/
@media screen and (max-width: 500px) {
  .proyecto__contenedor {
    padding: 30px 30px 15px 30px;
  }
}
@media screen and (max-width: 572px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hero__inferior {
    max-width: 600px;
  }
}
@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 75px;
    width: 75px;
  }
  .testimonio-texto {
    font-size: 16px;
  }
}
@media screen and (max-width: 434px) {
  .testimonios,
  .experiencia__section {
    padding: 10px 10px 10px 10px;
  }
}

.experiencia__web,
.experiencia__article,
.experiencia__studen {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.experiecia__container div:hover {
  color: white;
  background-color: #1b1b32;
}
